.top{
    display:flex;
    flex-flow: row wrap;
}

.header{
    display: flex;
    flex-flow: row;
    width: 100%;
    max-width: 1800px;
}

.quadrantOne{
    display:flex;
    margin-right: auto;
}
.quadrantTwo{
    display: flex;
    margin-left: auto;
    
}


.list{
    list-style: none;
}

.quadrantThree{
    display:flex;
    flex-flow: column wrap;
}